<br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    {{ action }} {{ form.title }}
                </h2>
                {% if form.errors %}
                    <br>
                    <div class="alert alert-danger alert-dismissable text-center">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true"></button>
                        <strong>Error!</strong>
                        {% if not form.non_field_errors %}
                            por favor revise los campos marcados
                        {% else %}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>

                {% endif %}
            </div>
            {% include 'forms/form.html' %}
        </div>
    </div>
</div>