<li>
    <a href="index.html">
        <i class="fa fa-fw fa-dashboard"></i>
        Dashboard Cliente
    </a>
</li>
<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#servicios">
        <i class="fa fa-fw fa-cube"></i>
        Servicios
        <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="servicios" class="collapse">
        <li>
            <a href="#">Crear Servicios</a>
        </li>
        <li>
            <a href="#">Ver Servicios</a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#productos">
        <i class="fa fa-fw fa-star"></i>
        Productos
        <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="productos" class="collapse">
        <li>
            <a href="#">Crear Producto</a>
        </li>
        <li>
            <a href="#">Ver Productos</a>
        </li>
    </ul>
</li>