<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        {% if request.user.proveedor %}
            {% include 'plataforma/sidebar/proveedor.html' %}
        {% elif request.user.cliente %}
            {% include 'plataforma/sidebar/cliente.html' %}
        {% endif %}
    </ul>
</div>
<!-- /.navbar-collapse -->