<li>
    <a href="index.html">
        <i class="fa fa-fw fa-dashboard"></i>
        Dashboard proveedor
    </a>
</li>
<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#servicios">
        <i class="fa fa-fw fa-cube"></i>
        Servicios
        <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="servicios" class="collapse">
        <li>
            <a href="{% url 'proveedores:crear_servicio' %}">Crear Servicios</a>
        </li>
        <li>
            <a href="{% url 'proveedores:lista_servicios' %}">Ver Servicios</a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;" data-toggle="collapse" data-target="#productos">
        <i class="fa fa-fw fa-star"></i>
        Productos
        <i class="fa fa-fw fa-caret-down"></i></a>
    <ul id="productos" class="collapse">
        <li>
            <a href="{% url 'proveedores:crear_producto' %}">Crear Producto</a>
        </li>
        <li>
            <a href="{% url 'proveedores:lista_productos' %}">Ver Productos</a>
        </li>
    </ul>
</li>