{% extends 'login.html' %}
{% block main %}
    {% load i18n %}
    <form method="post">{% csrf_token %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="panel-body text-center">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <strong>{% trans 'Error' %}</strong>, {{ msj }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <input type="text" placeholder="username" class="form-control" name="username" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="password" class="form-control" name="password" required>
                </div>
            </div>
            <div class="panel-footer" align="center">
                <input type="submit" value="login" class="btn btn-success">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <a href="{% url 'clientes:crear_cliente' %}" class="btn btn-primary">
                    registrase como cliente
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" align="center">
                <a href="{% url 'proveedores:crear_proveedor' %}" class="btn btn-info">
                    registrarse como proveedor
                </a>
            </div>
        </div>
    </form>
{% endblock %}