{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="margin-top: 3%">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>