{% extends 'plataforma/base.html' %}
{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">
                Lista de Productos
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stripped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>proveedor</th>
                        <th>categoria</th>
                        <th>valor</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.proveedor }}</td>
                        <td>{{ item.categoria }}</td>
                        <td>{{ item.valor }}</td>
                        <td>
                            <button class="btn btn-primary btn-xs">
                                editar
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}